/*Michael Robinson - Techfoundry Javascript Demonstration*/
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #777;
    font: normal 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#container {
    position: relative;
    width: 960px;
    margin: 15px auto 0 auto;
	padding: 10px;
    border: 0px solid #FFFFFF;
    text-align: left;
    background-color: #ffffff;
}

header {	position: relative;	background: #000 url("../images/header.jpg") left top no-repeat;	height: 115px;	padding: 0;	width: 100%;	cursor: default;	}

aside{	position: relative;	float: left;	max-width: 20%;	margin: 0;	padding: 1em;	min-height: 200px;}
#topContent {	position: relative;	float: left;	max-width: 100%;	margin: 0;	padding: 1em;	padding: 10px;	}

#mainContent {	position: relative;	background-color: #ffffff;	margin: 0 auto;	padding: 10px;	width: 80%;}
footer{	width: 100%;	height: 50px;	text-align: center;	padding: 0;	margin: 0;	background-color:  #f45d4f;}

footer p {	margin: 0 auto;	color: #fff;	text-align: center;	padding-top: 15px;}

.clearfloat {	clear: both;	margin: 0;	border: 0;	padding: 0;	}

blockquote {	border-left: none;	color: #404040;	min-height: 45px;	font-style: italic;	padding-left: 28px;	background: url("../images/icon-text-blockquote.png") no-repeat top left;	border-bottom: 1px solid #efefef;	padding-bottom: 2px;	margin-bottom: 10px;}
h1, #topContent  h1 {	font-weight: bold;	color: #444;	font-size: 2.2em;	font-size: 18pt;	text-align: center;    margin: 0 0 10px 0;
	border-bottom: 2px solid #f45d4f;	padding-bottom: 10px;}
h2, #topContent h2 {	font-weight: 300;	color: #444;	font-size: 1.7em;	text-transform: uppercase;	text-align: center;	margin-bottom: 20px;}

h3, h3#topContent, h3#container {	font-size: 1.5em;	color: #444;	font-weight: bold;	text-transform: uppercase;	text-align: center;	margin-bottom: 20px;}
h4 {
    font-size: 1.3em;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0 10px 0;
    line-height: 130%;
}

h5 {
	font-size: 1.2em;	color: #444;
	font-weight: bold;	text-transform: uppercase;
}

h6 {
	margin: 10px 0 20px;
	font-weight: bold;
	border-top: 2px solid #f45d4f;
	padding-top: 5px;
}	

.module-wrapper {
	position: relative; 
	height: 300px;  
	margin: 0 auto; 
	padding: 0; 
	width: 100%;
}

#module-row1, #module-row2 {
    margin: 0;
    padding: 0px 0 0 0px;
    width: 100%;
    height: 300px;
    background-color: #f8fafa;
}

#module-row1 ul, #module-row2 ul  {
	margin: 0;
	height: 300px;
	padding-top: 20px;
}

#module-row1 ul li.module,  #module-row2 ul li.module {
	position: relative;
    width: 300px;
	padding: 105px 5px 50px 5px;
    float: left;
    margin-right: 10px;
    text-align: center;
	background: url("../images/module-icon-1.png") no-repeat top center;
}

#module-row2 ul li.module.gh {
background: url("../images/module-icon-2.png") no-repeat top center;
}

#module-row1 ul li.module p,  #module-row2 ul li.module p {
	text-align:left;
}

#module-row1 p, #module-row2 p {
    text-align:left;
	margin-bottom:20px;
}

.more-link {
	border: 1px solid #02b8dd;
	color: #02b8dd;
	padding: 6px 20px;
	border-radius: 3px;
}
	
a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #f45d4f;}
#topContent p {
	font-size: 1em;	line-height: 120%;
	text-align: left;
	margin: 0 0 5px 0;}
#mainContent h1, 
.main-content h1 {	font-size: 18px;	font-weight: bold;	padding: 0 0 10px 0;	margin: 0 0 10px 0;	text-align: center;	line-height: normal;}
blockquote p {	font-size: 1em;	line-height: normal;	margin-bottom: 1px;	margin-top: 1px;	font-weight: 300;}
blockquote span {	font-style: normal;
	font-weight: bold;}

pre code {
			font-weight: bold;
			
	}

pre {
	background-color: #efefef;
    padding: 10px;
    color: teal;
}

pre span{
		color: orange;
		text-align: center;
}